@mixin head_font() {
  color: rgb(77, 81, 89);
  font-weight: 700;
  font-size: 18px;
}

@mixin gray_box($w: 288px) {
  background-color: rgb(242, 243, 246);
  border-radius: 6px;
  border: none;
  outline: none;
  width: $w;
}
