@mixin footer_content_box($w: 131px, $h: 35px) {
  width: $w;
  height: $h;
  font-size: 14px;
}

@mixin footer_content_one() {
  .footer-content-one-one {
    @include footer_content_box();
  }
  .footer-content-one-two {
    @include footer_content_box();
  }
  .footer-content-one-three {
    @include footer_content_box();
  }
  .footer-content-one-four {
    @include footer_content_box();
  }
  .footer-content-one-five {
    @include footer_content_box();
  }
}

@mixin footer_content_two() {
  .footer-content-two-one {
    @include footer_content_box();
  }
  .footer-content-two-two {
    @include footer_content_box();
  }
}
@mixin footer_content_third() {
  .footer-content-third-one {
    @include footer_content_box();
  }
  .footer-content-third-two {
    @include footer_content_box();
  }
  .footer-content-third-third {
    @include footer_content_box();
  }
}

@mixin container_padding_set($t, $b) {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
}

@mixin container_margin_set($t, $b, $g: 10px) {
  display: flex;
  margin-top: $t;
  margin-bottom: $b;
  gap: $g;
}

@mixin container_column() {
  display: flex;
  flex-direction: column;
}
