.gui-container {
  background: #ececec;
  width: 100%;
  height: 100%;
  padding-left: 15%;
  @media (max-width: 1430px) {
    padding-left: 0px;
  }
  .gui-content {
    .gui-picture {
      display: flex;
      justify-content: center; /* SVG를 수평 중앙에 정렬 */
      align-items: center;
      width: 867.602px; /* 필요에 따라 너비 설정 */
      padding-top: 32px;
      padding-bottom: 20px;
      gap: 34px;
    }
    .gui-pictures {
      padding-top: 32px;
      padding-bottom: 20px;
    }
    .gui-detail-content {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      line-height: 38px;
      margin-bottom: 120px;
      .gui-detail-content-one {
        color: #000;
        font-size: 20px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 120px;
        width: 867.602px;
      }
      .gui-detail-content-two {
        display: flex;
        color: #000;
        font-size: 20px;
        font-weight: 500;
        line-height: 38px;
        margin-top: 32px;
        width: 867.602px;

        .gui-detail-picture {
          padding-right: 32px;
        }
      }
    }
  }
}
