.gui-container {
  background: #ececec;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  @media (max-width: 1430px) {
    padding-left: 0px;
  }
  .gui-content {
    display: flex;
    flex-direction: column;
    // align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    .gui-picture {
      display: flex;
      justify-content: center; /* SVG를 수평 중앙에 정렬 */
      align-items: center;
      width: 1100px;
      @media (max-width: 1450px) {
        width: 90%;
      }
      padding-top: 32px;
      padding-bottom: 20px;
      gap: 34px;
    }
    .gui-pictures {
      padding-top: 32px;
      padding-bottom: 20px;
    }
    .gui-detail-content {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      line-height: 38px;
      margin-bottom: 120px;
      width: 85%;
      .gui-detail-content-one {
        color: #000;
        font-size: 20px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 120px;
      }
      .gui-detail-content-two {
        display: flex;
        color: #000;
        font-size: 20px;
        font-weight: 500;
        line-height: 38px;
        margin-top: 32px;

        .gui-detail-picture {
          padding-right: 32px;
        }
      }
    }
  }
}
