.header-container {
  display: flex; /* Add this line */
  width: 100%;
  height: 62px;
  justify-content: center; /* This will center the .header-title-container horizontally */
  margin-left: 230px;
  margin-right: 230px;
  font-size: 20px;
  font-weight: 400px;
  .header-title-container {
    display: flex; /* Ensure this is set to flex to use flex properties inside */
    gap: 1041px;
    margin-top: 20px;
    align-items: center; /* Optional: Center items vertically */
    width: 100%; /* Optional: To ensure it takes full width and centers its content */

    .header-main {
      width: 65px;
      margin-right: 40px;
      font-weight: 500;
    }
    .header-title-list-container {
      display: flex;

      .header-cardirect {
      }
    }
  }
}
