.main-container {
  width: 80%;

  .main-title {
    display: flex;
    font-size: 32px;

    .main-accent {
      font-weight: 600;
    }
  }
  .main-content {
    margin-bottom: 264px;
    @include content_font(40px);
    width: 867.602px;
  }

  .main-content-two {
    @include content_font(32px);
    margin-bottom: 120px;

    width: 867.602px;
  }
}
.main-content-one {
  @include content_font(50px);
  width: 867.602px;
}
