.menu-container {
  margin-left: 10%;
  margin-right: 0;
  margin-top: 130px;
  height: 100%;
  position: sticky;
  top: 104px;
  z-index: 20;
  background: rgba(255, 255, 255, 0);

  @media (max-width: 1600px) {
    margin-left: 2%; /* 1280px 이하에서는 margin-left를 0으로 설정 */
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .menu-content {
    width: 246px;
    .menu-define {
      border: 2px solid var(--White-Color, #fff);
      background: var(--Black-Color, #121212);
      box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.3);
      width: 150px;
      height: 30px;
      font-size: 15px;
      text-align: center;
      font-family: "Martian Mono", monospace;
      line-height: 30px;

      color: white;
    }
    .menu-study {
      border: 2px solid var(--Black-Color, #121212);
      background: var(--White-Color, #fff);
      box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.3);
      text-align: center;
      font-family: "Martian Mono", monospace;
      font-size: 15px;
      width: 90px;
      height: 30px;
      margin-top: 30px;
      line-height: 30px;
    }
    .menu-gui {
      border: 2px solid var(--Black-Color, #121212);
      background: var(--White-Color, #fff);
      box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.3);
      text-align: center;
      font-family: "Martian Mono", monospace;
      font-size: 15px;
      width: 200px;
      height: 30px;
      margin-top: 30px;
      line-height: 30px;
    }
  }
}
